body {
    background-color: rgb(0, 162, 255);
    color: white;
    font-size: 25px;
    font-family: sans-serif;
}

p {
    color: white;
}

h1 {
    font-size: 50px;
    color: red;
}

div {
    background: pink;
    width: auto;
}

span {
    color: yellow;
    font-size: 30px;
}