body {
    background-color: rgb(0, 162, 255);
    color: white;
    font-size: 25px;
    font-family: Futura, sans-serif; /*Esta es una buena practica que anade una fuente por default si la propuesta no esta instalada en la maquina de la persona que ejecute la web*/
}

p {
    color: white;
    margin-bottom: 50px;
    line-height: 50px;
    font-style: oblique;
    text-align: justify;
}

#intro{
    font-size: 35px;
}

h1 {
    font-size: 50px;
    color: red;
    font-family:  'Times New Roman', Times, serif;
}

.top-section {
    background: pink;
    width: auto;
}

.bottom-section {
    color: yellow;
    font-size: 30px;
}

.highlight {
    background-color: greenyellow;
}

/*
Margin: empty space arpund my element
Border: a border / stroke / around my element
Padding: empty space WITH background around my element

ALL of these ADD on top of the width and height!
*/

.box {
    background-image: url(../imgs/coolbg.jpg);
    background-repeat:no-repeat;
    background-size:cover ;
    background-position: center;

    width: auto;
    padding: 500px;
    margin: 100px;
    border: 20px solid rgb(119, 0, 255);
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.light {
    font-weight: lighter;
    text-decoration: underline;
    text-transform: uppercase;
}

a {
    color: black;
    font-weight: bolder;
    text-decoration: none;
}

a:hover,
a:focus{
    color: yellow;
    text-transform: uppercase;
}

a:visited{
    color: pink;
}

a:active{
    color: blue;
}

h1, h2{
    color: blueviolet;
}

.body-text p{
    color: aquamarine;
}

.body-text a{
    color: white;
}

.body-text a:hover {
    color: black;
}

.important-link{
    color: yellow !important;
}