body {
    background-color: rgb(0, 162, 255);
    color: white;
    font-size: 25px;
    font-family: sans-serif;
}

p {
    color: white;
}

#intro{
    font-size: 35px;
}

h1 {
    font-size: 50px;
    color: red;
}

.top-section {
    background: pink;
    width: auto;
}

.bottom-section {
    color: yellow;
    font-size: 30px;
}

.highlight {
    background-color: greenyellow;
}